html{
  overflow-y: scroll;
}
body{
  width: 100%;
  height: 1000%;
  background: #faf9eb;
  position: absolute;



}

.shoebox{
  width: 100%;
  height: 10%;
  margin-top: 5%;
  position: absolute;
  top:0%


}

.slide1{
  width: 25%;
  top:-10%;
  left: 37.5%;
  position: relative;
  animation-name: opacityOnAndOff;
  animation-duration: 5s;
  opacity: 0;
  z-index: 1;


}

.slide2{
  position: relative;
  width: 50%;
  top: 50%:
  z-index: 2;
  animation-name: opacityOnAndOff;
  animation-duration: 5s;
  animation-delay: 5s;
  opacity: 0;
}

.slide3{
  position: relative;
  width: 75%;
  left: 12.5%;
  top: -75%;
  animation-name: fadeIn;
  animation-duration: 15s;
  opacity: 1;
  z-index: 3;

}



@keyframes opacityOnAndOff {
    0% {
        opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    65%{
      opacity: 0;
    }
    75%{
      opacity: 1;
    }

}

.shoe{
  width: 12%;
  position: absolute;
  z-index: 4;
}

.left{
  top: 11%;
  left: 28%;
  animation: rotateL  18s forwards;

}

.right{
  top: 9%;
  left: 59%;
  animation: rotateR  18s forwards;

}



@keyframes rotateR {
  0% {
    opacity: 0;
  }
  53% {
    opacity: 0;
  }
  58%{
    opacity:1;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg) translateY(-120%) translateX(200%);
  }
}

@keyframes rotateL {
  0% {
    opacity: 0;
  }
  53% {
    opacity: 0;
  }
  58%{
    opacity:1;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg) translateY(-120%) translateX(-200%);
  }
}


.intro{
  position: absolute;
  width: 70%;
  height: 4%;
  left: 15%;
  top: 13.5%;

}

.intro_text{
  position: absolute;
  top: 39%;
  line-height: 1.6;
}

.hi{
  width: 70%;

}

.text{
  color: #1e306e;
  font-family: 'Josefin Sans', sans-serif;

}

.dataviz_gallery{
  width: 70%;
  height:45%;
  position: absolute;
  top: 20%;
  left: 15%;


}

.gallery1{
  position: absolute;
  width: 55%;
  left: 0;
  border: 3px solid #1e306e;
  margin: 5px
}

.gallery2{
  width: 40%;
  border: 3px solid #1e306e;
  margin: 5px;
  position: absolute;
  top: 0%;
  left: 58%;
}

.gallery3{
  width: 40%;
  border: 3px solid #1e306e;
  margin: 5px;
  position: absolute;
  top: 9.6%;
  left: 58%;

}

.gallery4{
  width: 55%;
  border: 3px solid #1e306e;
  margin: 5px;
  position: absolute;
  top: 16%;
  left: 0%;

}

.gallery5{
  width: 40%;
  border: 3px solid #1e306e;
  margin: 5px;
  position: absolute;
  top: 21.3%;
  right: 0%;

}

.gallcaption{
  color: #1e306e;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 2.0;
  position: absolute;
  left: 15%;
  top: 29.5%;
  width: 70%;
}

a{
  color: #1e306e;
  font-family: 'Josefin Sans', sans-serif;
}


.nyhan{
  color: #1e306e;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  line-height: 2.0;
  position: absolute;
  top: 39.5%;
  left: 0%;
  width: 100%;
  height: auto;
  border: 3px solid #1e306e;
}

h2{
  text-decoration: underline;
  padding: 5px;
}

.poster{
  width: 85%;
  border: 3px solid #1e306e;
  position: absolute;
  top: 56.5%;
  left: 7.5%;

}

.poster_caption{
  color: #1e306e;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
  line-height: 2.0;
  position: absolute;
  left: 10%;
  top: 76%;
  width: 80%;
}


.twoseventy{
  width: 70%;
  height:15%;
  position: absolute;
  top: 65%;
  left: 15%;
  line-height: 1.6
}

.logo_270{
  width: 60%;
  margin-top: 5%;
}


.skills{
  width: 50%;
  margin-left: 25%;
}

.glossier{
  width: 70%;
  height:15%;
  position: absolute;
  top: 80%;
  left: 15%;
  line-height: 1.6;

}

.logo_glossier{
  width: 43%;
  margin-top: 5%;
}

.skills_text{
  color: #1e306e;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 2%;

}

.keyrus{
  width: 70%;
  height:13%;
  position: absolute;
  top: 95%;
  left: 15%;
  line-height: 1.6;

}
.logo_keyrus{
  width: 40%;
  margin-top: 3%;
  margin-left: 3%;
}

.letter{
  width: 40%;
  margin-left: 30%;
  border: 3px solid #1e306e;
  margin-top: 5%;
}
.logo_allbirds{
  width: 40%;
  margin-top: 3%;
  margin-left: 3%;
}

.other_dartmouth{
  position: absolute;
  top:85%;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.6;
}

.allbirds{
  width: 70%;
  height:7%;
  position: absolute;
  top: 108%;
  left: 15%;
  line-height: 1.6;

}

.signature{
  width: 25%;
  margin: 0% 37.5% 0% 37.5%;
}

.linkedin{
  width: 7%;
  margin: 20% 5% 0% 40%;
}

.email{
  width: 8%;
}

.goodbye{
  width: 70%;
  height:7%;
  position: absolute;
  top: 115%;
  left: 15%;
  line-height: 1.6;
}
